#info-aside{
    height: 85vh;
    width: 15vw;
    /* background-image: linear-gradient(red); */
    background-color: #D2122E;
    position: fixed;
    top: 0px;
    border-bottom-right-radius: 127px;
    /* border-bottom-left-radius: 45px;*/
    display: flex;
    flex-direction: column;
}
#logoo img{
    height: 6em;
    width: 6em;
    margin-top: 3em;
    margin-left: 1em;
}

#logoo h1{
    font-family: 'Lobster Two', cursive;
    margin-left: 2em;
    font-size: 3em;
    margin-top: -0.81em;
}